body {

    background: url(assets/images/background\ images\ for\ countdown.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 140px;
    margin-bottom: 140px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}
.main-heading{
    color: white;
    font-size: xx-large;
}

.CountDown-main, .Timer-complete, .counter-form {
    margin-top: 10px;
    border-radius: 8px;
    justify-content: center;
    padding: 12px;
    background-color: white;
    padding: 20px;
    width: 33%;

    margin-left: auto;
    margin-right: auto;

}
.counterDown-main-1{
    width: 70%;
    border-radius: 8px;
    justify-content: center;
    padding: 12px;
    background-color: white;
    padding: 20px;
   

    margin-left: auto;
    margin-right: auto;
}
h1{
    color: darkblue;
    text-wrap: wrap;
    text-align: center;
}

.d-flex{
    display: flex;
    text-wrap: wrap;
    min-width: 0; 
    justify-content: center;
    align-items: center;
    
}
@media only screen and (max-width: 1100px) {
    .d-flex{
        display: grid;
        
    }
  }
.timerinput{
    margin: 20px;

}
.inputtimerlable{
    
    
}

.inputtimer{
    font-size:xx-large;
    border: 1px solid black;f
    height: 80px;
    margin:20px;
    padding:30px;
    padding-left:50px;
    padding-right:50px;
    
    
    

}


input {
    height: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
    border-radius: 2px;
    border: 1 solid black;
    color: black;



}

 /* {
    display: grid;
    border-radius: 8px;
    justify-content: center;
    padding: 12px;
    background-color: white;
    padding: 20px;
    width: 33%;

    margin-left: auto;
    margin-right: auto;

} */

button {
    
    justify-content: content;
    padding: 12px;
    border-radius: 2px;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 100%;
    color: white;
    background-color: black;
}

 /* {
    display: grid;
    border-radius: 8px;
    justify-content: center;
    padding: 12px;
    background-color: white;
    padding: 20px;
    width: 33%;

    margin-left: auto;
    margin-right: auto;
} */